*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    background-color:  rgb(255, 209, 232);
}

.corpo{
    margin-top: 100px ;
    margin-left: 200px;
    margin-right: 200px;
 
}

.imgVitoria{
   border-radius: 125px;
    background-color: white;
    width: 200px;    
    box-shadow: 5px 5px 20px rgb(148, 97, 106);
    margin-top: 25px;
}
.nome{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: white;
    color: rgb(102, 56, 63);
    margin-top:5px;

}
.profissao{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: white;
    color: rgb(102, 56, 63);
    margin-top: 10px;
}
.curso{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: white;
    color: rgb(102, 56, 63);
    margin-bottom: 30px;
}




.imgJava{
    background-color: rgb(255, 209, 232);
    width: 35px;
}
.imgHtml{
    background-color:  rgb(255, 209, 232);
    width: 35px;
}
.imgCss{
    background-color:  rgb(255, 209, 232);
    width: 20px;
    height: 25px;
}

.conteudo{
    display: flex;
    background-color: rgb(255, 209, 232);
    flex-direction:column;
    align-items: center;
    gap: 35px;
}



.cabeçalho{
    display:flex;
    flex-direction: column;
    background-color:  white;
    align-items: center;
    gap: 25px;
    border-radius: 50px;
    margin-left: 250px;
    margin-right: 250px;
    
}
.sessao1{
    display: flex;
    gap: 25px;
    margin-top: 15px

}
.botao1{
    background-color: white;
    width: 160px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(102, 56, 63);
}
.botao1:hover{
    background-color: #6d6d6d;
 
}


.botao2{
    background-color: white;
    width: 160px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(102, 56, 63);
}
.botao2:hover{
    background-color: #6d6d6d;
 
}

.sessao2{
    background-color:  rgb(255, 209, 232);
    display: flex;
    align-items: center;
    gap: 15px
}

@media(max-width: 1300px){
    .corpo{
        margin-left: 150px;
        margin-right:150px ;
        }
}
@media(max-width: 1200px){
    .corpo{
        margin-left: 100px;
        margin-right:100px ;
        }
}
@media(max-width: 1100px){
    .corpo{
        margin-left: 50px;
        margin-right: 50px; ;
        }
}
@media(max-width: 1000px){
    .corpo{
        margin-left: 15px;
        margin-right:15px ;
        }
}
@media(max-width: 900px){
    .corpo{
        margin-left: 0px;
        margin-right:0px ;
        }
}
@media (max-width: 900px) {
    .cabeçalho{
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media(max-width: 600px){
    .cabeçalho{
        margin-left: 50px;
        margin-right: 50px ;
        }
}
@media(max-width: 600px){
    .corpo{
        margin-top: 60px;
        }
    }
@media(max-width: 500px){
    .nome{
    font-size:20px;

     }
}
@media(max-width: 500px){
    .profissao{
    font-size:15px;

     }
}
@media(max-width: 500px){
    .curso{
    font-size:15px;

     }
}
@media(max-width: 400px){
    .nome{
    font-size:15px;

     }
}
@media(max-width: 500px){
    .profissao{
    font-size:9px;

     }
}
@media(max-width: 500px){
    .curso{
    font-size: 9px;

     }
}
