* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    background-color: pink;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 110px;
}

.card {
    background-color: white;
    border-radius: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.image{
    border-radius: 100%;
    box-shadow: 5px 5px 10px pink;
    width: 5cm;
    
}

.texts{
    color: rgb(119, 43, 54);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infor{
    display: flex;
    padding: 5px;
    gap: 50px;
}



.button{
    display: flex;
}

.icons {
    width: 30px;
    height: 30px;
}



/*Id de todos os conteudos do body*/
.content {
    display: flex;

}